	*{margin: 0;padding: 0;}
	ul li{list-style:none;}
	a {text-decoration:none;}
	body{background: #f7f8f8;}
	
	.img{background: url(../img/header-img.png) no-repeat;}
	

	
		/*轮播图*/
	.banner{height: 500px;text-align: center;overflow: hidden;}
	.banner >img{margin:0 -100%;}
	.banner >.left {width: 180px;height: 38px;background: #008842;position: relative;top: -504px;left: 33px;color: #F7F9F8;line-height:38px ;font-weight: 900;font-size: 15px;}
	.banner >.left-bottom{width: 180px;height: 463px;position: relative;top: -504px;left: 33px;}
	.banner >.left-bottom ul {line-height:43px;font-size: 15px;background-repeat: no-repeat;position: relative;}
	.banner >.left-bottom ul li{height:40px;width:180px;position: relative;border-bottom: 1px solid rgba(255, 255, 255, 0.9);border-top: 1px solid rgba(255, 255, 255, 0.9);
	background: rgba(255, 255, 255, 0.9);}
	.banner >.left-bottom ul li a{color: black;display: block;background:url(../img/nav-icon.png) no-repeat;position:absolute;height:40px;width:160px;}
	.banner >.left-bottom ul li:nth-child(1) a{background-position: 22px 6px;}
	.banner >.left-bottom ul li:nth-child(2) a{background-position: 22px -28px;}
	.banner >.left-bottom ul li:nth-child(3) a{background-position: 22px -70px;}
	.banner >.left-bottom ul li:nth-child(4) a{background-position: 22px -100px;}
	.banner >.left-bottom ul li:nth-child(5) a{background-position: 24px -137px;}
	.banner >.left-bottom ul li:nth-child(6) a{background-position: 22px -171px;}
	.banner >.left-bottom ul li:nth-child(7) a{background-position: 24px -213px;}
	.banner >.left-bottom ul li:hover a{left:15px;}
	.banner >.left-bottom ul li:hover{background: #ffffff;opacity: 1;border-top: 1px solid #979796;border-bottom: 1px solid #979796;}
	.banner_right{width:300px;height: 600px;background: yellow;position: absolute;left: 180px;top: -38px;display: none;}
	
	
	
	/*分区*/
	.warp{width: 1200ox;height: 290px;margin-left: 33px;margin-top: 30px;position: relative;}
	.warp>div{width: 290px;height: 290px;float: left;margin-right: 13px;}
	.warp>div:hover{box-shadow: 0px 0px 4px 2px #979796 ;}
	.warp >div div{width: 270px;height: 58px;text-align:center;background: #FFFFFF;opacity: 0.9;position: absolute;top: 215px;margin-left: 10px;}
	.warp >div div p{font-weight: 900;font-size:21px ;margin-top: 3px;color:#575757 ;}
	.warp >div div span{font-size: 13px;color: #575757;}
	
	/*模板*/
	#prod{width: 1200px;height: 530px;margin: auto;}
	.floor{width: 1200px;height: 64px;padding-top:28px;box-sizing: border-box;}
	#prod h2{float: left;height: 32px;font: bold 18px "Microsoft YaHei";}
	#prod i:nth-child(1){background-position: -368px 0}
	.sc{display: inline-block;width: 31px;height: 18px;margin-right: 10px;padding: 10px 7px 4px 7px;color: #fff;font: bold 14px "Microsoft YaHei"; vertical-align: text-bottom;background: url(../img/floor_tit_icon.png) no-repeat left top;}
	#sa{font-size: 17px;color: #B84F02;}
	#prod span{float: right;    line-height: 32px;font-size: 12px;font-family: Arial,Verdana,"\5b8b\4f53";}
	#prod span a{padding: 0 7px;color: #575757;}
	#prod_bottom{width: 1200px;height: 461px;background: #FFFFFF;}
	#layout1{ float: left; width: 275px;height: 462px;}
	#layout2{width: 923px;height: 461px;float: left;border: 1px solid #d5d5d5;position: relative;}
	#col1{overflow: hidden; float: left;   width: 234px; height: 383px; border-right: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5}
	#co{display: block;/* -webkit-transition: -webkit-transform .2s linear; */-moz-transition: -moz-transform .2s linear;-o-transition: -o-transform .2s linear;/* transition: transform .2s linear; */}
	#co:hover{-webkit-transform: translateX(5px); -moz-transform: translateX(5px); -ms-transform: translateX(5px); -o-transform: translateX(5px); transform: translateX(5px) }
	#col2{float: left;overflow: hidden;width: 442px;}
	#col2 ul li{ width:441px; height:191px; border-right: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5;overflow: hidden;}
	#col3{float: left;width:246px;height: 461px;overflow: hidden;}
	#col4{border-right:1px solid #d5d5d5;padding:11px;position:absolute;left:0;bottom:0;width:654px;height:55px;overflow: hidden;}
	#col4 a{margin: 0 14px;}
	
	